* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
}

.background-img {
    height: auto;
    background-image: url("../img/background 1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head-title {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}

.head-logo {
    display: flex;
    text-decoration: none;
}

.head-logo-text-row {
    transition: color .2s linear;
}

.head-logo:hover * .head-logo-text-row {
    color: #F26522;
}

.head-logo-icon {
    width: 50px;
    background: url('../img/logo 3.svg') no-repeat;
    transition: background .2s linear;
}

.head-logo:hover > .head-logo-icon {
    background: url('../img/logo 3-orange.svg') no-repeat;
}

.head-logo-text {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-left: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.head-logo-text-row, .head-contacts-link {
    text-decoration: none;
    color: #FFFFFF;
}

.head-logo-text-milan {
    font-size: 29px;
    line-height: 29px;
}

.head-logo-text-holidays {
    font-size: 18px;
    line-height: 18px;
}

.head-contacts {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.head-contacts-number {
    padding-top: 19px;
}

/*main*/
.milan-tours {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(220px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 62px;
    row-gap: 37px;
    margin-top: 22px;
    max-width: 1030px;
}

.milan-tours-subtitle {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;
}

.milan-tours-item {
    position: relative;
}

.milan-tours-item-img {
    width: 100%;
}

.milan-tours-item-link {
    text-decoration: none;
}

.milan-tours-item-details {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    opacity: 0;
    background-color: #F26522;

    position: absolute;
    bottom: 42px;
    left: 0;
    width: 100%;
    height: 55px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;

    transition: opacity .2s linear;
}

.milan-tours-item-details-price-1 {
    font-size: 10px;
    line-height: 10px;
    padding-top: 7px;
}
.milan-tours-item-details-price-2 {
    font-size: 20px;
    line-height: 20px;
    padding-top: 10px;
}

.milan-tours-item-details-view {
    font-size: 14px;
    line-height: 14px;
    padding-top: 29px;
    display: flex;
}

.milan-tours-item-details-text {
    position: relative;
    padding-right: 10px;
}

.milan-tours-item-details-text::after, .milan-tours-item-details-text::before {
    content: '';
    width: 8px;
    height: 1px;
    background-color: #FFFFFF;
    position: absolute;
    right: -5px;
    top: 26%;
    transform-origin: right;
}

.milan-tours-item-details-text::after {
    transform: rotate(45deg);
}

.milan-tours-item-details-text::before {
    transform: rotate(-45deg);
}

/*footer*/

.milan-copyright {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-top: 49px;
}

.head-logo:hover text {
    color: #F26522;
}

.head-contacts-link:hover {
    color: #F26522;
}

.milan-tours-subtitle:hover {
    color: #F26522;
}

.milan-tours-item:hover > .milan-tours-item-details {
    opacity: 1;
}

.milan-tours-item:hover * .milan-tours-subtitle {
    color: #F26522;
    transition: .3s;
}